<launch>

  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <param name="num_prey" value="3"/>
  <param name="num_predators" value="1"/>
  <param name="killed_threshold" value="2"/>

  <param name="robot_0_x" value="0"/>
  <param name="robot_0_y" value="0"/>
  <param name="robot_1_x" value="0"/>
  <param name="robot_1_y" value="5"/>
  <param name="robot_2_x" value="5"/>
  <param name="robot_2_y" value="0"/>
  <param name="robot_3_x" value="5"/>
  <param name="robot_3_y" value="5"/>


  <param name="robot_0" value="robot_0"/>
  <param name="robot_1" value="robot_1"/>
  <param name="robot_2" value="robot_2"/>
  <param name="robot_3" value="robot_3"/>

  <node pkg="ppgapt" type="Master" name="Master" output="screen"/>

  <group ns="robot_0">
    <node pkg="ppgapt" type="Predator" name="Predator" output="screen"/>
  </group>

  <group ns="robot_1">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

  <group ns="robot_2">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

  <group ns="robot_3">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

</launch>
