<launch>

  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <param name="num_prey" value="6"/>
  <param name="num_predators" value="3"/>
  <param name="killed_threshold" value="3"/>

  <param name="robot_0_x" value="6"/>
  <param name="robot_0_y" value="8"/>
  <param name="robot_0" value="robot_0"/>

  <param name="robot_1_x" value="4"/>
  <param name="robot_1_y" value="4"/>
  <param name="robot_1" value="robot_1"/>

  <param name="robot_2_x" value="8"/>
  <param name="robot_2_y" value="4"/>
  <param name="robot_2" value="robot_2"/>

  <param name="robot_3_x" value="1"/>
  <param name="robot_3_y" value="2"/>
  <param name="robot_3" value="robot_3"/>

  <param name="robot_4_x" value="6"/>
  <param name="robot_4_y" value="0"/>
  <param name="robot_4" value="robot_4"/>

  <param name="robot_5_x" value="12"/>
  <param name="robot_5_y" value="7"/>
  <param name="robot_5" value="robot_5"/>

  <param name="robot_6_x" value="0"/>
  <param name="robot_6_y" value="7"/>
  <param name="robot_6" value="robot_6"/>

  <param name="robot_7_x" value="5"/>
  <param name="robot_7_y" value="12"/>
  <param name="robot_7" value="robot_7"/>

  <param name="robot_8_x" value="11"/>
  <param name="robot_8_y" value="11"/>
  <param name="robot_8" value="robot_8"/>

  <node pkg="ppgapt" type="Master" name="Master" output="screen"/>

  <group ns="robot_0">
    <node pkg="ppgapt" type="Predator" name="Predator" output="screen"/>
  </group>

  <group ns="robot_1">
    <node pkg="ppgapt" type="Predator" name="Predator" output="screen"/>
  </group>

  <group ns="robot_2">
    <node pkg="ppgapt" type="Predator" name="Predator" output="screen"/>
  </group>

  <group ns="robot_3">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

  <group ns="robot_4">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

  <group ns="robot_5">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

  <group ns="robot_6">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

  <group ns="robot_7">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

  <group ns="robot_8">
    <node pkg="ppgapt" type="Prey" name="Prey" output="screen"/>
  </group>

</launch>
